


$crimson: #c10000;
$crimson_light: #e47b7b;
$crimson_super_light: #f09c9c;

$body-font: Helvetica, Arial, sans-serif;
$heading-font: 'Baumans', cursive;

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

img {
  float: right;
  padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  font-family: $heading-font;
}

a {
  color: $crimson;
  text-decoration: none;
}

a:hover {
  color: $crimson_light;
  text-decoration: underline;
}

a:visited {
  color: $crimson;
}

/* Utility */

.wrap:before,
.wrap:after {
  content: "";
  display: table;
}

.wrap:after {
  clear: both;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table th, table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0px 5px 0px 5px;
}

.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

#utahLogo {
  float: right;
  padding: 10px 10px 10px 10px;
}

#utahLogoImg {
  height: 65px;
}

.date {
  float: right;
  font-size: 1em;
}

.week {
  border-bottom: 1px solid;
}

.day {
  font-family: $heading-font;
  font-size: 1.3em;
}

.note-box {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;

  border-radius: 5px;
  margin: 10px 0px 10px 0px;
}

.lecture {
  @extend .note-box;
  background-color: #eeeeee;
}

.deadline {
  @extend .note-box;
  background-color: $crimson-super-light;
  font-weight: bold;
}

#schedule h3 {
  font-size: 19px;
  width: 70%;
  float: left;
  margin-top: 1px;
  margin-bottom: 4px;
}

#schedule h4 {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 2px;
}


//<img style=" max-width: 40%" src="{{ site.baseurl }}/assets/i/seas.png" alt="Harvard SEAS">

@import 'template';
