{% for lecture in site.lectures %}
{% if lecture.number == include.number %}
<div class="lecture">
    <div style="display:block; height:30px;">
        <h3>Lecture {{ lecture.number }}: {{lecture.topic }}</h3>
        <span class="date">{{ include.date }}</span>
    </div>

    <p><b>{{lecture.description}}</b></p>
    {% if lecture.intro-assignment %}
    <p><b>Introduction to <a href="{{lecture.intro-assignment-url}}">{{ lecture.intro-assignment }}</a></b></p>
    {% endif %}
    {% if lecture.guest %}
    Guest lecturer: <a href="{{lecture.guest-url}}">{{ lecture.guest }}</a>
    {% endif %}


    {% if lecture.slides %}
    <p><a href="{{ lecture.slides }}">Download slides</a></p>
    {% endif %}
    {% if lecture.interactive-content %}
    <p><a href="{{ lecture.interactive-content }}">Go to interactive lecture content</a></p>
    {% endif %}

    <div style="margin-top: 10px">
        {% if lecture.mandatory-reading != "" %}

        <h4>Mandatory reading</h4>
        {{ lecture.mandatory-reading | markdownify}}
        {% endif %}
        <h4>Recommended reading</h4>
        {{ lecture.recommended-reading | markdownify}}


    </div>


</div>


{% endif %}
{% endfor %}