---
layout: page
---
<div id="schedule">
<div class="deadline">Subject to change.</div>

https://docs.google.com/spreadsheets/d/1MtctPE6_WRwl2_LSZHnnh_6G2rp-SzUIM4f6W9RT72E/edit?usp=sharing

<iframe src="https://docs.google.com/spreadsheets/d/1_bh4GXDM3gh6IY3zPs7bc3wbTLmjQywhYWLzSzVAL6Q/pubhtml?gid=3&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="800"></iframe>

<iframe src="https://docs.google.com/spreadsheets/d/1MtctPE6_WRwl2_LSZHnnh_6G2rp-SzUIM4f6W9RT72E/pubhtml?gid=65899131&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="800"></iframe>

<h2>Week 1</h2>

{% include lecture.html number=1 date="Tuesday, Aug. 25"  key="introduction" intro-assignment="Homework 0" intro-assignment-url="https://github.com/dataviscourse/2015-dataviscourse-homework/blob/master/hw0/readme.md" %}
{% include lecture.html number=2 date="Thursday, Aug. 27" key="git_html" %}

{% include deadline.html due="Homework 0, Introduction" date="Friday, Aug. 28, 11:59pm" %}

<h2>Week 2</h2>

    {% include lecture.html number=3 date="Tuesday, September 1, 2015" key="javascript" %}
    {% include lecture.html number=4 date="Thursday, September 3, 2015" key="dom_manipulation_d3" %}

    {% include deadline.html due="Homework 1" date="Friday, September 4, 2015, 11:59pm" %}
<h2>Week 3</h2>

    {% include lecture.html number=5 date="Tuesday, September 8, 2015" key="advanced_d3" %}
    {% include lecture.html number=6 date="Thursday, September 10, 2015" key="advanced_d3_ii" %}

    {% include deadline.html due="Homework 2" date="Friday, September 11, 2015, 11:59pm" %}

    <h2>Week 4</h2>

    {% include lecture.html number=7 date="Tuesday, September 15, 2015" key="perception" %}
    {% include lecture.html number=8 date="Thursday, September 17, 2015" key="data" %}

    <h2>Week 5</h2>

    {% include lecture.html number=9 date="Tuesday, September 22, 2015" key="marks_channels" %}
    {% include lecture.html number=10 date="Thursday, September 24, 2015" key="design_tasks" %}

    {% include deadline.html due="Homework 3" date="Friday, September 25, 2015, 11:59pm" %}


    <h2>Week 6</h2>

    {% include lecture.html number=11 date="Tuesday, September 29, 2015" key="interaction" %}
    {% include lecture.html number=12 date="Thursday, October 1, 2015" key="views" %}





    <h2>Week 7</h2>

    {% include lecture.html number=13 date="Tuesday, October 6, 2015" key="grids" %}
    {% include lecture.html number=14 date="Thursday, October 8, 2015" key="exam1" %}
    {% include deadline.html due="Homework 4" date="Sunday, October 11, 2015, 11:59pm" %}

    <h2>Week 8</h2>

    Fall Break

    <h2>Week 9</h2>

    {% include lecture.html number=15 date="Tuesday, October 20, 2015" key="exam_review_views_II" %}
    {% include lecture.html number=16 date="Thursday, October 22, 2015" key="volumes" %}

    {% include deadline.html due="Homework 5" date="Friday, October 23, 2015, 11:59pm" %}

    <h2>Week 10</h2>
    <!-- VIS @ CHICAGO -->
    {% include lecture.html number=17 date="Tuesday, October 27, 2015" key="project_feedback" %}
    {% include lecture.html number=18 date="Thursday, October 29, 2015" key="molecular" %}

    {% include deadline.html due="Homework 6" date="Friday, October 30, 2015, 11:59pm" %}


    <h2>Week 11</h2>

    {% include lecture.html number=19 date="Tuesday, November 3, 2015" key="filtering_aggregation" %}
    {% include lecture.html number=20 date="Thursday, November 5, 2015" key="tabular" %}

    <h2>Week 12</h2>

    {% include lecture.html number=21 date="Tuesday, November 10, 2015" key="isosurfaces" %}
    {% include lecture.html number=22 date="Thursday, November 12, 2015" key="flow" %}

    {% include deadline.html due="Project Milestone" date="Friday, November 13, 11:59pm" %}

    <h2>Week 13</h2>

    {% include lecture.html number=23 date="Mo, Nov. 16 - Fr, Nov. 20, 2015" key="instructor_feedback" %}




    <h2>Week 14</h2>


    {% include lecture.html number=24 date="Tuesday, November 24, 2015" key="graphs" %}

    Thursday: Thanksgiving Break

    <h2>Week 15</h2>

    {% include lecture.html number=25 date="Tuesday, December 1, 2015" key="maps" %}

    {% include lecture.html number=24 date="Thursday, December 3, 2015" key="text_sets" %}


    {% include deadline.html due="Final Project" date="Friday, December 4, 11:59pm" %}

    <h2>Week 16</h2>

    {% include lecture.html number=26 date="Tuesday, December 8, 2015" key="models" %}
    {% include lecture.html number=27 date="Thursday, December 10, 2015" key="exam2" %}


</div>
